.div-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
}

.tittle-style {
  margin-top: 6rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-style {
  background-color: azure;
  border-radius: 20px;
  border: 1px solid;
  color: black;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 3rem;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-style:hover {
  background-color: black;
  color: azure;
  transform: scale(1.01);
}

.btn-end {
  background-color: azure;
  border-radius: 20px;
  border: 1px solid;
  color: black;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: 5px;
  margin-top: -10px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-end:hover {
  background-color: black;
  color: azure;
  transform: scale(1.01);
}

.total-price-container {
  height: 50px;
  width: 290px;
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 9px;
  background-color: black;
}

.total-price {
  font-size: 2rem;
  color: azure;
}
