.item-detail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 87vh;
  margin: 0 auto;
  width: 80%;
}

.item-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.img-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -35px;
  border-radius: 1.2rem;
  box-shadow: 2px 2px 10px 2px black;
  background-color: azure;
  width: 520px;
  height: 420px;
}

.img-detail img {
  width: 500px;
  height: 400px;
}

.info-detail{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  background-color: azure;
  border-radius: 1.2rem;
  box-shadow: 2px 2px 10px 2px black;
}

.prod-tittle{
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
  margin-left: 20px;
  font-weight: bold;
}

.prod-description{
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
  font-size: 1.2rem;
}

.prod-price{
  margin: 20px 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
}

.prod-count{
  display: flex;
  align-self: center;
}

.end-btn{
  background-color: azure;
  border-radius: 20px;
  border: 1px solid;
  color: black;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px; 
  margin-bottom: 5px;
  margin-top: -10px;
  transition: background-color 0.3s, transform 0.3s;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
}

.end-btn:hover{
  background-color: black;
  color: azure;
  transform: scale(1.01);
}

.loader-style{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* media queries */
@media (max-width: 954px) {
  .item-detail {
    flex-direction: column;
    padding: 15px;
  }

  .img-detail {
    margin-right: 0;
  }

  .prod-tittle {
    text-align: center;
  }

  .info-detail {
    align-items: center;
  }
  .info-detail {
    width: 100%;
  }
  .prod-description {
    line-height: 1.5;
    width: 100%;
    text-align: justify;
  }
  .item-detail-container {
    height: 100%;
  }
}