a {
  text-decoration: none;
  color: black;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
}

.product-card{
  height: 428px;
  justify-content: flex-end;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  padding: 12px 9px;
  background-color: azure;
  margin: 20px;
}

.product-card:hover{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20.5rem;
  background-color: azure;
  overflow: hidden;
  box-shadow: 2px 2px 19px 0px black;
  cursor: pointer;
  transition: box-shadow 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card-img{
  max-width: 65%;
  height: auto;
}

.card-info{
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-name, .card-price{
  margin: 0.2rem 0;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
}

.card-name{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.card-price{
  font-weight: bold;
  font-size: 1.15rem;
}

.card-btn{
  border: 1px solid black;
  padding: 11px 5px;
  margin-top: 15px;
  background-color: black;
  color: azure;
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s ease-in-out;
}

.card-btn:hover{
  background-color: #6c757d;
  color: black;
}

.card-link{
  width: 93%;
}