.nav-item {
  margin-left: 2.5rem;
  font-size: 1.4rem;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
  transition: transform 500ms ease;
}

.nav-item .nav-style:hover {
  transform: scale(1.05);
  color: azure;
  text-shadow: 1px 1px 10px black;
  text-decoration: underline azure;
}

.nav-item .nav-style:focus {
  transform: scale(1.05);
  color: azure;
  text-shadow: 1px 1px 10px black;
  text-decoration: underline azure;
}

.cart {
  margin-left: 16rem;
  transition: transform 500ms ease;
}

.cart .cart-link:hover {
  transform: scale(1.05);
  color: azure;
  text-shadow: 1px 1px 10px black;
}

.cart .cart-link:focus {
  transform: scale(1.05);
  color: azure;
  text-shadow: 1px 1px 10px black;
}

.cart-link {
  font-size: 1.4rem;
  color: black;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
  text-decoration: none;
}

.nav-tittle {
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
  font-size: 2rem;
}
