.nav-item {
  margin-left: 2.5rem;
  font-size: 1.3rem;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
  transition: transform 500ms ease;
}

.nav-item .nav-style:hover {
  transform: scale(1.05);
  color: azure;
}

.cart {
  margin-left: 20rem;
  transition: transform 500ms ease;
}

.cart:hover {
  transform: scale(1.05);
}

.cart-link {
  font-size: 1.3rem;
  color: black;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
  text-decoration: none;
}

.nav-tittle {
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
  font-size: 1.9rem;
}
