.count-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

.count-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.count-section:first-of-type{
  border: 2px solid black;
  border-radius: 28px;
  font-weight: bold;
  gap: 18px;
  padding: 0 18px;
}

.count-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 8px;
  font-weight: bold;
  position: relative;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
}

.count-value{
  font-size: 24px;
  text-align: center;
  margin: 0 10px;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
}

.add-btn{
  background-color: azure;
  border-radius: 20px;
  border: 1px solid;
  color: black;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px; 
  margin-bottom: 5px;
  margin-top: -10px;
  transition: background-color 0.3s, transform 0.3s;
  font-family: "Handjet", cursive;
  font-family: "Russo One", sans-serif;
}

.add-btn:hover{
  background-color: black;
  color: azure;
  transform: scale(1.01);
}