.card-style {
  border: 1px solid black;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-top: 2rem;
  padding: 1rem 1rem;
  background-color: azure;
}

.card-style:hover {
  box-shadow: 2px 2px 19px 0px black;
  transition: box-shadow 800ms;
  cursor: pointer;
}

.container-div{
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  
}

.grid-div{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: start;
}

/* Media queries */
@media (max-width: 1600px) {
  .grid-div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1325px) {
  .grid-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .grid-div {
    grid-template-columns: 1fr;
  }
}